name: Release

on:
  push:
    tags:
      - v*

permissions:
  id-token: write
  contents: write

jobs:
  sign-tag:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up gitsign
        uses: chainguard-dev/actions/setup-gitsign@main

      - name: Sign the tag
        shell: bash
        run: |
          # Make sure the tag is on main branch
          git merge-base --is-ancestor ${{ github.ref_name }} origin/main && echo "Tag is on main"
          git tag -s -f -m "${{ github.ref_name }}" ${{ github.ref_name }}
          git push -f origin ${{ github.ref_name }}

  draft-release:
    needs: sign-tag

    strategy:
      matrix:
        include:
          - runner: buildjet-4vcpu-ubuntu-2204
            arch: amd64
          - runner: buildjet-4vcpu-ubuntu-2204-arm
            arch: arm64

    runs-on: ${{matrix.runner}}

    steps:
      - uses: actions/checkout@v3

      - name: Authenticate to AWS
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::970625735569:role/GitHubActionsECRPush

      - name: Configure AWS Docker Auth
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry-type: public

      - name: Building builder image
        uses: docker/build-push-action@v3
        with:
          context: build/
          push: false
          tags: agent-builder:latest

      - name: Generate Image Metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            public.ecr.aws/edgebit/edgebit-agent
          tags: |
            type=semver,pattern={{version}}-${{ matrix.arch }}
          flavor: |
            latest=false

      - name: Building agent
        uses: docker/build-push-action@v3
        with:
          push: false
          target: build
          tags: edgebit-agent-build

      - name: Building and pushing agent container
        id: build-agent
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}

      - name: Copying out package artifacts
        shell: bash
        run: |
          docker run --rm -i -v $(pwd)/dist/:/mnt edgebit-agent-build /bin/bash -c "cp -R /root/src/dist/output /mnt"

      - name: Creating a draft release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          tag_name: ${{ github.ref_name }}
          files: |
            dist/output/edgebit-agent*

      - name: Generate SBOM from the container
        id: sbom
        if: ${{ matrix.arch == 'amd64' }}
        uses: anchore/sbom-action@v0
        with:
          image: ${{ steps.build-agent.outputs.imageid }}
          output-file: /tmp/sbom.spdx.json
          config: .github/edgebit/build-syft.yaml

      - name: Upload SBOM to EdgeBit
        if: ${{ matrix.arch == 'amd64' }}
        uses: edgebitio/edgebit-build@main
        with:
          edgebit-url: https://edgebit.edgebit.io
          token: ${{ secrets.EDGEBIT_TOKEN }}
          sbom-file: /tmp/sbom.spdx.json
          image-id: ${{ steps.build-agent.outputs.imageid }}
          image-tag: ${{ steps.meta.outputs.tags }}
          component: edgebitio-edgebit-agent
          tags: v${{ steps.meta.outputs.version }}

  docker-combine:
    needs: draft-release

    runs-on: ubuntu-latest

    steps:
      - name: Authenticate to AWS
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::970625735569:role/GitHubActionsECRPush

      - name: Configure AWS Docker Auth
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry-type: public

      - name: Generate Image Metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            public.ecr.aws/edgebit/edgebit-agent
          tags: |
            type=semver,pattern={{version}}

      - name: Combine into multi-arch
        shell: bash
        run: |
          input="${{ steps.meta.outputs.tags }}"

          for tag in $input; do
            tags="$tags --tag $tag"
          done

          docker buildx imagetools create \
            $tags \
            public.ecr.aws/edgebit/edgebit-agent:${{ steps.meta.outputs.version}}-amd64 \
            public.ecr.aws/edgebit/edgebit-agent:${{ steps.meta.outputs.version}}-arm64
